VITE_API_URL=http://localhost:4000  # port and address for the backend server to listen on eg. VITE_API_URL=http://localhost:4000
VITE_PORT=5173  # port for the frontend development server to listen on eg. VITE_PORT=5173
